---
title: Abortion, Homosexuality, and the Truth That Lives in Nuance
layout: layout.njk
---

<article>
    <div class="headline center article-headline">
      <h1>Abortion, Homosexuality and the truth that lives in nuance</h1>
      <p class="tagline">
        How these ‘twin towers’ of evangelical social engagement led me away
        from certainty and toward truth
      </p>
      <small>March 7, 2022</small>
      <hr />
    </div>
    <div class="article-wrapper">
      <p>
        A Christian friend once told me that he and his wife used in-vitro
        fertilization (IVF) to conceive their children and, as a consequence,
        had several frozen embryos in storage. “But don’t worry”, he said. “No
        one can convince us that those embryos aren’t fully human”.
      </p>

      <p>
        My friend’s strong statement might have been more nuanced if I hadn’t
        also been his pastor. As it was, he may have been telling me what he
        thought I wanted to hear, because his words reflected the semi-official
        evangelical stance on one of the two social issues that interested us
        the most.
      </p>

      <p>
        I once told someone at our church that, when it came to politics,
        economic issues were less important to me than “the social issues”. When
        she asked me which ones, I was taken aback. Didn’t she know? Speaking
        for the religious bubble in which I lived, I said that there were two:
        Abortion and gay rights. We were against both.
      </p>

      <p>
        I am no longer a minister, and have written previously about the steps
        that led me away from the many certainties of faith toward the truth
        that lives in nuance. In this essay, I want to do the same thing with
        regard to these two social issues which occupied much of my thinking and
        teaching during my thirty-year ministry.
      </p>

      <p>
        As far as my friend’s embryos, I don’t know what has become of them. But
        by the time of our conversation, my thinking on abortion had become more
        nuanced than before. Regarding IVF, I knew that the embryos my friends
        had conceived were very small groups of cells that had grown outside of
        a human womb for less than a week before being frozen. At such an early
        stage the sensors for pain simply are not present, so issues of
        sentience, suffering, and other features of life that raise ethical
        issues have no meaning. The death of such an early embryo causes no more
        suffering than does the freezing process that makes IVF possible. I am
        left with the conclusion that the main reason evangelicals object to
        abortion at this early state is a religious reason: ie, God doesn’t want
        people to do it.
      </p>

      <p>
        (I don’t want to go too far down this rabbit hole, but let me say this:
        The key Scripture regarding abortion for many Christians is the word of
        the Lord to the prophet Jeremiah: “Before I formed you in the womb, I
        knew you”. This seems incredibly off point to me because 1) Such a
        proclamation is a frequently-used rhetorical device to show that the
        hero of a story is SPECIAL, not an ordinary person like the rest of us,
        and 2) this could be taken as a prohibition against contraception as
        much as abortion, which is NEVER the case in evangelical circles.)
      </p>

      <p>
        On the other hand, the situation near the end of a full-term pregnancy
        is quite different. The developing fetus at 7 or 8 months can certainly
        feel pain and quite possibly has a nascent ability to experience fear
        and to fight for survival.
      </p>

      <p>
        All of which is to say that the abortion issue looks very different at 8
        days versus 8 months.
      </p>

      <p>
        This is a position which I regard as sensible and evidence-based. It’s
        my position still. But it didn’t fit me well for service as a leader to
        people who wanted to hear from me the simple certainty of the True
        Believer. The funny thing is, I think most evangelical Christians would
        express similar nuance about abortion in private, especially as applied
        to themselves and their children. But this isn’t to be spoken aloud.
        Being 100% against any abortion is one of the boundary markers of the
        evangelical tribe. My friend and his wife actually put their status at
        church at risk by even pursuing IVF. But at least his words toe the
        line: “No one can convince us that those embryos aren’t fully human”.
      </p>

      <p>
        As for the other social issue: Homosexuality. For years, I took it as a
        given that God hates homosexuality. As <em>The Onion</em> (I believe)
        once stated, the main sin of the Westboro Baptists who hold up their
        hate-filled signs about homosexuals, is that they say explicitly what
        most Christians believe privately.
      </p>

      <p>
        And how did I know that God hates homosexuality, if not homosexuals?
        Simple. Sodom and Gomorrah.
      </p>

      <p>
        The story of Sodom and Gomorrah from Genesis: God hears that wickedness
        has reached an all-time high in Sodom and Gomorrah, two cities in the
        land of Canaan. So he sends two strong angels to check it out. These
        angels arrive in Sodom and plan to spend the night in the town square,
        but when the man named Lot sees them, he tells them, “Oh, you can’t do
        that. This is not the kind of place for that. Come stay at my place”.
      </p>

      <p>
        Later that night, the men of the city encircle Lot’s house. “We hear you
        have some guests”, they say. “Send these men out so we can have our way
        with them”.
      </p>

      <p>
        Lot, with a scandalous misplacement of priorities, says this: “No,
        gentlemen, you must not do this wicked thing. See here, I have two
        virgin daughters. Let me send them out to you instead, and you may do as
        you wish with them, but these men are under my protection, and you must
        not harm them”.
      </p>

      <p>
        Maybe Lot knew that these ‘men’ were actually angels, messengers from
        God. Or maybe it was a Middle Eastern hospitality thing, where the
        greatest taboo was to offer to protect someone and then fail (although a
        father might be expected to consider his daughters under his protection
        too). These days, I think the best explanation for this rather
        disconcerting moral dilemma is this: It’s a story. It has a point to
        make. So let’s move on to that point.
      </p>

      <p>
        The men reject the daughters. They threaten Lot, call him an outsider, a
        foreigner who has come to live with them and judge their ways. The men
        move against Lot until the angels have to reach out and pull him inside.
        The next day, Sodom and Gomorrah are destroyed by fire from heaven.
      </p>

      <p>
        The lesson I took from that for many years was that God hates
        homosexuality.
      </p>

      <p>
        It took me a long time to realize that not one of the homosexuals I knew
        in real life were anything like this marauding gang of rapists and
        murderers. And would it change the reader’s feelings about the men of
        Sodom if they had taken Lot up on his offer of his daughters and had
        confined themselves to heterosexual rape and murder? And if the mob had
        accepted the daughters, would people say that God hates heterosexuals?
        This story isn’t about homosexuality any more than it is about sex
        outside of marriage.
      </p>

      <p>
        I mention this because ‘Sodom and Gomorrah’ is the knee-jerk reaction
        for many Christians who want to express how they think God feels about
        homosexuality. For many years, it was my reaction, and it is (to say the
        least) inadequate. In fact, it is dangerous to be so sloppy in one’s
        thinking, to automatically connect any homosexual with the behavior of
        this mob at Lot’s door.
      </p>

      <p>
        I say this knowing full well that the Bible has several other negative
        things to say about homosexuality. In fact, whenever the Bible speaks
        directly about homosexuality (which isn’t often, but still), the message
        isn’t positive or encouraging. When I consider the significant number of
        homosexuals who claim faith in God and the Bible my bafflement is
        exceeded only by my admiration for their persistence in loving something
        that says such awful things about them.
      </p>

      <p>
        In spite of this Bible story and its place in church thinking, I knew
        that real life gays and lesbians were much like anyone else — beset with
        the same kind of faults and virtues as anyone. As with the abortion
        thing, a person might object to homosexuality on religious grounds (ie,
        God doesn’t want us to do it or approve of it) but from a perspective of
        live-and-let-live, and mind your own business, shouldn’t we let people
        govern their own personal lives? Once again, I believe most Christians
        are ready to do exactly this in their neighborhoods, at work, and
        everywhere in the community except at church. But opposition to
        homosexuality is another clear boundary marker for the evangelical
        tribe. Therefore, many Christians might be “live-and-let-live”
        personally, but will support draconian laws restricting freedom, and
        back politicians and Supreme Court justices who might be able to push
        homosexuals back into the closet.
      </p>

      <p>
        Faith tells a story that makes the world make sense. That’s its purpose,
        I think. My own story was based partly on the Bible, but also (more than
        I realized) on interpretations and dogma. It gave me lots of confidence
        to “know the truth” about these two social issues. But as I began to see
        the truth that lives in nuance, I knew my story had to change. More on
        that <a href="/articles/gratitude-without-religion"> here</a>.
      </p>
    </div>
</article>