---
title: Becoming More Myself
layout: layout.njk
---
<article>
    <div class="headline center article-headline">
      <h1>Becoming More Myself</h1>
      <p class="tagline">
        After 30 years of ministry, I found what I was looking for by leaving.
      </p>
      <small>January 14, 2022</small>
      <hr />
    </div>
    <div class="article-wrapper">
      <p>
        <em
          >“It is difficult to get a man to understand something, when his
          salary depends on his not understanding it.”</em
        >
        — Upton Sinclair
      </p>

      <p>
        Big changes in life don’t happen in a single evening. But sometimes an
        evening is long enough for a few pebbles to be dislodged from the
        previously solid ground of someone’s worldview. Those pebbles can start
        an avalanche.
      </p>

      <p><strong>The Podcast</strong></p>
      <p>
        One evening a few years ago, I downloaded an episode of
        <em>Intelligence Squared</em>, an excellent debate podcast. The
        proposition to be contested was:
        <a
          href="https://www.intelligencesquared.com/events/the-catholic-church-is-a-force-for-good-in-the-world/"
          target="_blank"
        >
          The Catholic Church is a Force for Good in the World</a
        >. At the time I was well into my third decade as a minister in a
        conservative but somewhat forward-thinking evangelical church. I was,
        for the most part, favorably disposed toward the Catholic Church, though
        I found the infamous sexual abuse scandals disturbing. The podcast
        promised an interesting topic, and I enjoy good, well-structured debate.
        So I put in my earbuds and started it up as I did some chores around the
        house.
      </p>

      <p>
        The first speaker rose in defense of the proposition, giving a rousing
        account of all of the good works of the Catholic Church around the world
        today. He did a good job of convincing me that, in spite of the awful
        things done (and covered up) by the Catholic Church, the overall force
        of this massive and many-faceted organization was applied in the
        direction of goodness. He ended his spirited seven-minute opening
        statement by asking, “Can anyone deny that the Catholic Church is a
        force for good?” I was fairly certain they couldn’t.
      </p>

      <p>
        Seven minutes after that, when the second speaker finished his opening
        remarks, I was pretty sure something big was shifting in my mind, or (as
        we Christians liked to say) in my heart. It wasn’t so much that my mind
        was changed about the Catholic Church. It was, in fact, that
        <strong
          >the whole proposition of belief — of knowledge, faith, truth and
          goodness — was exposed for examination</strong
        >. It wasn’t quite a revelation, but it was the beginning of a
        fundamental change in me. It was a slow process, and in the end I didn’t
        become a different person. I think, rather, that
        <strong>I started to become more myself</strong>.
      </p>

      <p>
        That second speaker was
        <a
          href="https://en.wikipedia.org/wiki/Christopher_Hitchens"
          target="_blank"
          >Christopher Hitchens</a
        >, the erudite, witty British writer who made a career of lampooning
        hypocrisy and irrationality wherever he found it. Some of his early fame
        came from writing about political figures. After 9/11, Hitchens wrote a
        book called God is Not Great, a title directly countering the Muslim
        statement of faith, and became the most prominent of several writers
        dubbed “the new atheists” in the mid 2000s. I wasn’t very familiar with
        him. I had seen his byline on a few articles in Slate and I knew that he
        was outspoken against religion. That podcast was my real introduction to
        Hitchens.
      </p>

      <p>
        There is a saying that you can’t reason someone out of a position they
        didn’t reason themselves into. This is incorrect. It might be difficult,
        and some people will never give up inherited beliefs or tribal
        perspectives. But in my case, Hitchens, the great reasoner, began a
        cascade of thinking and reasoning which eventually led me toward
        changing positions that I didn’t reason myself into. Or to put it
        another way, Hitchens eventually challenged me to understand certain
        things even though, as the quote at the top of this page says, my salary
        depended on me not understanding them.
      </p>

      <p>
        For example, as a Christian I learned to revere
        <strong>faith</strong> as one of the truly great virtues. The New
        Testament book of Hebrews praises faith and gives the believer this
        warning and definition:
        <strong
          >And without faith it is impossible to please God, because anyone who
          comes to him must believe that he exists and that he rewards those who
          earnestly seek him</strong
        >. From inside the faith, this seems reasonable enough. The faithful
        reader already believes that God exists and that he rewards the
        faithful. This verse just reminds the reader that if others doubt God,
        don’t let it shake you. That’s their problem and their fault, and they
        have no one to blame but themselves for their troubles. Faith itself is
        proof of God.
      </p>

      <p>
        What Hitchens helped me to see through his writing and his lectures is
        that no religious person would accept this kind of thinking from the
        faithful of any other religion. Another person’s faith in something
        unbelievable is no proof to me. And how can it be a virtue to believe
        incredible and unlikely facts about the universe and about history on
        insufficient evidence? Indeed, some of history’s greatest crimes and
        follies (right up to the present moment) have been carried out by people
        staunchly committed to deeply-held beliefs of questionable veracity.
      </p>

      <p>
        One reason I went into the ministry was that, in my youthful idealism, I
        wanted to stand for truth and to find more of it. Now I began to see my
        faith as a possible impediment against finding more truth.
      </p>

      <p>
        I realize that many people who care about me and the state of my soul
        will believe that Hitchens in this account plays the role of the devil —
        not the cartoonish, red satyr, but rather the urbane, impressive,
        learned tempter leading his victims to destruction with falsities that
        appeal to intellectual pride. I can only ask such a person to consider
        that such an accusation is a natural reflex when someone close to you
        begins to think outside of the norms of family, tribe, country, or
        church.
      </p>

      <p>
        Besides, even if this was the start of new thinking for me, it wasn’t
        nearly the beginning of a conscious unease with the things I thought I
        knew for certain. In fact it was decades earlier, during some long
        conversations with Mormon missionaries, that some of the pebbles under
        my feet probably started to come loose.
      </p>

      <p>More on that <a href="/articles/two-mormons">here</a>.</p>
    </div>
</article>