---
title: Gratitude Without Religion
layout: layout.njk
---

<article>
    <div class="headline center article-headline">
      <h1>Gratitude Without Religion</h1>

      <small>April 12, 2022</small>
      <hr />
    </div>
    <div class="article-wrapper">
      <p>
        When I made my exit from the ministry (which I have
        <a href="/articles/becoming-more-myself">written about previously</a>), the
        circumstances were ones I once would have called miraculous. I sent out
        a handful of resumes to the obvious online job sites and got an
        immediate interview with a local tech company. That interview led
        quickly to a job offer and then to my resignation from my church
        position (a few weeks before the 30th anniversary of my start). I have
        been working in my new field ever since.
      </p>

      <p>
        The miraculous part (as I would have framed it in the past) is that it
        is rare to get any response to an online job application, let alone an
        interview and a job offer, but it happened to me before I was really
        even trying. As a Christian, I always felt inclined (and somewhat
        pressured) to speak of an unlikely, positive event as a blessing that
        could be explained only by the hand of God. But since this blessing was
        my ticket out of an increasingly ill-fitting professional ministry, I
        didn’t think of it that way. Instead, I took it simply as an unlikely
        event for which I was grateful.
      </p>

      <p>
        Grateful to whom? In the old days, I used to preach that unbelievers
        couldn’t be truly grateful because they didn’t acknowledge God as the
        giver of every blessing. Hence, they had no one to thank. I often
        claimed that Thanksgiving was the most religious of all holidays and
        that only believers could celebrate it properly.
      </p>

      <p>
        But this is just wrong, and it’s an example of the kind of thinking that
        makes sense only within the plausibility structure of belief. (I wrote
        about <a href="/articles/two-mormons">plausibility structures here</a>).
        I could believe this only because I had never associated with people who
        practiced genuine gratitude without reference to God. But there are many
        such people (<a
          href="https://www.richroll.com/all-episodes/"
          target="_blank"
          >Rich Roll</a
        >
        is my current favorite) who know that gratitude is a life-saving,
        sanity-restoring practice.
      </p>

      <p>
        In my experience, the pressure to credit God with every good thing
        sometimes took my focus off the <strong>people</strong> in my life who
        had blessed me with their kindness, good deeds, sacrifice, and grace. It
        also subtly eroded my humility (appropriate humility is another
        life-saving, sanity-restoring practice) by telling me that good things
        happen to me because I’m one of the chosen ones.
      </p>

      <p>
        Still, since my earliest years, religion had provided the structures and
        rituals of my gratitude. Without that, could I be grateful? More
        specifically, with the new job, to whom was I grateful? In the years
        since my hiring, I’ve thought about this quite a bit, and have made the
        effort to thank the people to whom I owe gratitude, including:
      </p>
      <ul>
        <li>The people who took the risk of hiring me.</li>
        <li>
          My wife, who willingly went through the tumultuous transition with me
          (leaving the ministry was possibly more consequential and painful for
          her than for me).
        </li>
        <li>
          My online teachers (whom I’ve never met) who trained me in my new
          skills.
        </li>
        <li>
          My parents, for teaching me persistence and for giving me lots of
          grace
        </li>
        <li>
          My brother, who reached out and gave me a text-message pep talk on the
          day I started my new job.
        </li>
        <li>
          Even the people at my old church, which includes some very good people
          and a few close friends.
        </li>
      </ul>
      <p>
        To these and many others, I owe a great deal of gratitude for the good
        things I have today, including the skills and opportunity to pursue my
        new career. And all of this happened without any discernible master
        plan.
      </p>

      <p>
        What about the larger context of things that have helped me, things like
        living in a free country, having some extra money and time to pursue
        education, enjoying a functional economy, and all the other things that
        contribute to my good life? My younger self thanked God for these too,
        and then wondered why God withholds these from so many people. It is at
        just this point that my need to give thanks always to God stunted my own
        understanding of the world, because the answers that seemed to fit the
        best were mostly about American exceptionalism and God’s favor on us as
        a “Christian nation”. Such a view makes it easy to overlook the truly
        awful things done on the way to building our present society. It also
        removes much of the incentive to help others get the same blessings I
        have. If God isn’t blessing them after all, maybe they have a lesson to
        learn.
      </p>

      <p>
        Perhaps the biggest change in my thinking on gratitude is that there
        doesn’t always have to be someone to thank. When there is, I should
        definitely thank them. It’s good for us both. But when there isn’t an
        obvious source — when I have a little extra money, or I hear a great
        song, or find an empty parking space or have a free evening — I can just
        take a minute to notice it, and feel grateful.
      </p>

      <p>
        Today is a beautiful day. I’m going outside now to enjoy it. And be
        grateful.
      </p>
    </div>
</article>