---
title: I Want(ed) to Believe
layout: layout.njk
---

<article>
    <div class="navbar-wrapper" id="navbar-wrapper"></div>
    <div class="headline center article-headline">
      <h1>I want(ed) to believe</h1>
      <p class="tagline">
        But that desire kept me from finding the truth I was looking for.
      </p>
      <small>January 31, 2022</small>
      <hr />
    </div>
    <div class="article-wrapper">
      <p>“I Want to Believe.”</p>

      <p>
        Occasionally during episodes of the 90s TV drama <em>The X-Files</em>,
        viewers saw those words (and a UFO) on a poster in the office of FBI
        Agent Fox Mulder, who specialized in looking for space aliens and other
        oddities. In its best moments, <em>The X-Files</em> left us wondering
        whether Mulder was actually uncovering hidden truth, or being pulled
        into delusion by his need to explain and give meaning to the tragic loss
        of his sister.
      </p>

      <p>
        Sometime into my third decade as a minister, I started to wonder
        something similar about my own thinking. I’d always
        <strong>wanted to believe</strong>. But I also wanted to know the truth.
        Did the two conflict?
      </p>

      <p>
        I’ve written about this previously, first regarding
        <a href="/articles/becoming-more-myself"> podcast that shook loose</a>
        some of my previously-held beliefs, and then in
        <a href="/articles/two-mormons">
          description of discussions with two Mormon missionaries</a
        >

        whose presentation of their faith showed me some problems with my own
        thinking.
      </p>

      <p>
        During one such discussion, I noticed a problem in the case for faith
        made by these young Mormons. Their holy book describes a centuries-long
        civilization that supposedly reigned in the Americas between the times
        of Christ and Christopher Columbus. This history is unknown outside
        Mormon teaching and, to an outsider like me, seems like complete
        fiction. Their problem, as I saw it, was that there could be no
        archaeological evidence for this history because it never happened.
      </p>

      <p>
        In contrast, the famous cities of the Bible — Jerusalem, Bethlehem, Rome
        — exist to this day and are some of the most studied places on earth.
        And many of the people in the Bible — Augustus, Herod the Great, Pilate
        — are well-attested historical figures.
      </p>

      <p>
        I didn’t realize then that <strong>the major figure</strong> in the New
        Testament is unknown to the contemporary history of his day. I mean, of
        course, Jesus of Nazareth. Outside the Bible itself, Jesus is unknown
        and unmentioned until later when the church begins to establish itself.
        Also unmentioned, of course, are the miracles and teachings of the
        Gospels.
      </p>

      <p>
        For most of my life, I assumed that Jesus was well-known in his own day.
        The 1961 film <em>King of Kings</em> shows Jesus as a man whose every
        move was tracked by the watchful eye of Rome. This was my impression
        too, and it’s why popular apologetic books once convinced me with
        questions like:
        <em
          >“How do you explain the empty tomb? Jesus was in no shape to escape,
          and his disciples were in no state of mind to steal his body”</em
        >. Such questions assume that the crucifixion, death and burial of Jesus
        is established historical fact, so the only question is “Why was the
        tomb empty?”
      </p>

      <p>
        But in truth, no secular history of the day mentions Jesus at all in his
        own time. The well-known stories about his life are part of the
        religious texts called the Gospels, just as the history of Mormonism on
        the American continents is based solely on their sacred texts.
      </p>

      <p>
        But still, I thought this lack of physical evidence put my Mormon
        friends at a real disadvantage. How could they expect me to buy their
        tales of an unknown civilization without some archaeological evidence
        that it ever existed?
      </p>

      <p>
        I did win a short-term victory with that challenge. The guys seemed to
        have never considered this before.
      </p>

      <p>
        <strong>Never considered this?! How could it be?</strong> How could you
        accept such an incredible story without even thinking of whether there
        is evidence?
        <strong>Ah, but these are the questions of an outsider</strong>, not of
        people within the plausibility structure. From the inside, it’s not
        about the historical evidence, but about the whole network of family and
        friends and rituals that make it believable.
      </p>

      <p>
        In my childhood, I accepted the beliefs of Christianity at face value.
        Before I left for college, I don’t think questions of historical
        veracity entered my mind. This, I believe, is the experience of the vast
        majority of believers. We simply don’t look for the kind of evidence for
        our own beliefs that we demand of others.
      </p>

      <p>
        So my missionaries told me they’d look into the archaeology and get back
        to me. When they returned, they brought with them several books on “our
        archaeology”.
      </p>

      <p>
        But these weren’t archaeology books. They were travelogues, photo essays
        of the ruins of Mayan and Aztec civilizations, topped off with a large
        helping of what I now recognize as
        <a
          href="https://en.wikipedia.org/wiki/Confirmation_bias"
          target="_blank"
        >
          confirmation bias</a
        >
        — something like this: “Notice the shapes carved into the top of this
        pillar. Doesn’t this call to mind that well-known passage in our beloved
        book which says…”
      </p>

      <p>
        This wasn’t archaeology. It was devotional literature, written by and
        for those who <strong>wanted to believe</strong>.
      </p>

      <p>
        To be fair, maybe Mormon archaeology is stronger than these books
        indicate. I haven’t had the inclination to study it since this
        encounter. But the thing that struck me that day and keeps me thinking
        about this decades later wasn’t archaeology. It was recognition — of my
        own way of thinking.
      </p>

      <p>
        <strong>Confirmation bias</strong> is our ability to see most clearly
        the things that confirm our already-formed opinions. If I think, for
        example, that young adults are disrespectful, I tend to notice the rude
        acts, and disregard any courtesy.
      </p>

      <p>
        Confirmation bias is a deeply-embedded human trait and, often, a great
        weakness. Once we think we know something, we tend to see only the
        evidence that supports it. Epictetus, the Stoic writer, said that
        <em
          >“It is impossible for a man to learn what he thinks he already
          knows.”</em
        >
        I’d add that it’s impossible for him to unlearn it too. Or NEARLY
        impossible, because I was at least beginning to see this tendency in
        myself.
      </p>

      <p>
        Forget the Mormons for a minute. How did I use MY faith to explain the
        world? How did I deal with science and explain mystery and unravel the
        complexities of the world? How did I decide what was really true and
        valuable?
      </p>

      <p>
        It wasn’t by evidence. It wasn’t by honest inquiry. It wasn’t by
        searching out the truth and following the facts wherever they might
        lead. All of these are things I <strong>thought</strong> I valued. But
        now I began to recognize that I practiced none of them, not in the big
        questions of life that framed all of the rest. What I did instead was to
        take the Bible as the lens through which I saw everything else, the
        Rosetta stone I used to interpret life.
        <strong>I wanted to believe</strong>.
      </p>

      <p>
        This, by the way, would not be considered a criticism to Bible-believing
        Christians. “This is what we are SUPPOSED to do”, they would say. But
        when I saw someone else doing it, I began to see how such a practice
        <strong>prevents evidence from ever getting through</strong>. What kind
        of method is that for finding the truth about things?
      </p>

      <p>
        I mentioned in an earlier article that other Christians warned me
        against speaking to Mormons, saying that they were very well-trained and
        manipulative. They were right that there was a “danger” to my faith, but
        wrong about what the danger was. It wasn’t that I might be convinced by
        their dogma. The danger was that I would begin to see in them my own
        fallacies.
      </p>

      <p>
        From my many years in church, I’ve concluded that the vast majority of
        the faithful are like Agent Mulder — they want to believe. By contrast,
        very few are what I call <strong>True Believers</strong>. It’s the True
        Believers who eventually shook my faith the most. More on that
        <a href="/articles/the-danger-of-true-believers">here</a>.
      </p>
    </div>
  </article