---
title: List
layout: layout.njk
---

<h1>List</h1>
<ul>
  <li><a href="/articles/becoming-more-myself">Becoming More Myself</a></li>
  <li><a href="/articles/two-mormons">Two Very Polite Mormons Shook My Faith</a></li>
  <li><a href="/articles/i-wanted-to-believe">I Want(ed) to Believe</a></li>
  <li><a href="/articles/the-danger-of-true-believers">The Danger of True Believers</a></li>
  <li><a href="/articles/abortion-homosexuality-and-nuance">Abortion, Homosexuality, and the Truth That Lives in Nuance</a></li>
  <li><a href="/articles/gratitude-without-religion">Gratitude Without Religion</a></li>

</ul>