---
title: List
layout: layout.njk
---

<h1>List</h1>
<ul>
  <li><a href="/articles/becoming-more-myself">Becoming More Myself</a></li>
  <li><a href="/articles/two-mormons">Two Very Polite Mormons Shook My Faith</a></li>
  <li><a href="/articles/art3">Tres</a></li>
</ul>