---
title: The Danger of True Believers
layout: layout.njk
--- 

<article>   
    <div class="headline center article-headline">
      <h1>The danger of True Believers</h1>
      <p class="tagline">
        Truth lives in nuance. True Belief has little patience for that.
      </p>
      <small>February 13, 2022</small>
      <hr />
    </div>
    <div class="article-wrapper">
      <p>
        In 2006 I saw the movie <em>United 93</em>, a dramatization of the
        events on the only hijacked flight on 9/11 that failed to reach its
        destination. Most of the drama centered on the capture of the jet by the
        hijackers, and their eventual overpowering by passengers. But during the
        early moments of the film, we caught a glimpse of these young men not
        simply as criminals or terrorists, and certainly not as insane lunatics.
        Instead, we saw them as <strong>True Believers</strong>, men on a
        mission. They had an idea in their minds that this action they were
        attempting was the most important thing they could do. In the war
        between good and evil, they were warriors, stakeholders. They were
        certain that they would make a difference. On the side of good, of
        course.
      </p>

      <p>
        Five years earlier, when the attacks occurred, I was not quite halfway
        through what turned out to be a thirty-year ministry at a mid-sized
        church, and I was sure of more things than I am today. I hadn’t yet
        encountered the work of Christopher Hitchens,
        <a href="/articles/becoming-more-myself">
          which I mentioned at the start of this series</a
        >, but I had met the
        <a href="/articles/two-mormons"> Mormon missionaries I described in part two</a
        >, and had already begun to think about
        <a href="/articles/i-wanted-to-believe">
          my own plausibility structures and confirmation bias (part three)</a
        >.
      </p>

      <p>
        Still, in 2001 I was pretty sure that the problem that caused 9/11 was
        simple: False religion. Zealots had attacked based on their religious
        beliefs. Bad ideas produce bad behavior. The problem, as I saw it then,
        wasn’t that these guys were <strong>True Believers</strong> but that
        they were fanatically devoted to very bad ideas which they had been
        taught since childhood and which they probably never had the chance to
        question.
      </p>

      <p>
        By 2006, however, I suspected that the problem wasn’t just the bad ideas
        but also the fanatical devotion. True Belief brings with it an absolute
        certainty that tends to stomp out questioning and humility and to
        overrun thoughtful examination. Sure, these young men were devoted to
        unexamined ideas. But at their age, so was I. What might it have taken
        to push me into fanaticism? Poverty, powerlessness, or a lack of
        direction might have done it. The past few years have provided more
        examples of this than I could have imagined.
      </p>

      <p>
        And I began to recognize that I lived and taught in a culture that, to
        some extent, venerated True Belief and denigrated uncertainty,
        reasonable doubt, and humility.
      </p>

      <p>
        In the early 90s I occasionally stood on the side of the road holding an
        anti-abortion sign. Not by myself. This was an annual thing people from
        our church did along with other Christians to get the word out that, as
        we saw it, God was against abortion. I didn’t enjoy this, but I was
        against abortion then and didn’t want to be labeled a coward, so I held
        up one of two signs: “Abortion Stops a Beating Heart” or “Jesus Heals
        and Forgives”. We always got many friendly waves, a few middle fingers
        and a lot of nervous staring-straight-ahead. Not everyone at our church
        participated, and a few disliked our involvement. These were the early
        days of the culture wars, before most of the pro-choice Christians were
        drummed out of the church or cowed into silence.
      </p>

      <p>
        There was another sign that wasn’t part of our displays, but which was
        common in those days and with which many of us agreed: “Abortion is
        Murder”. This was the motto of the True Believer. If someone believes
        that a new human is created at every conception, and that this new human
        ought to be treated as fully human from that moment on (and this IS what
        many pro-life Christians believe, and they believe too that the Bible
        teaches this, although that’s not as obvious as they think), then to
        intentionally end even the earliest of pregnancies is to commit murder.
      </p>

      <p>
        Whenever someone back then would attack an abortion clinic worker, the
        response from the church was always swift condemnation. “We must never
        combat murder by becoming murderers”. I agreed with this reaction, and
        yet I knew it laid bare the illogic of my position. If someone was about
        to commit murder, wouldn’t it be reasonable and justifiable to use
        deadly force to stop them? I think it would be. But that meant that I
        didn’t really think abortion was murder, exactly. It was something else.
        An ethical issue, a thorny one that perhaps some people take too
        lightly, but not murder. And then I had to admit that the True Believers
        in this case, the violent ones, were the most consistent, and I was
        inconsistent. And so were all the Christians I knew. And our
        inconsistency was a good thing.
      </p>

      <p>
        All of this is to say that truth lives in nuance. Or, to apply some
        nuance to that statement, truth <strong>usually</strong> lives in nuance
        and the whole truth <strong>rarely</strong> lives in the fanaticism of
        True Belief.
      </p>

      <p>
        Most of us on the picket line weren’t True Believers in that cause. We
        were against abortion, but the issue didn’t occupy a lot of our time or
        emotion. We were content to “get the message out” and to support
        “positive alternatives”. This, I thought, was a reasonable attitude. But
        it isn’t reasonable if abortion is murder.
      </p>

      <p>
        And in fact, the dream of the pro-life movement has never been merely to
        limit abortions or to persuade most women to not have one. The goal has
        always been to overturn Roe v. Wade and make abortion illegal. This
        vision has so gripped the evangelical right-wing that this branch of
        Christianity — the faith of my youth — has, when it comes to political
        activism, largely rejected issues of personal character, goodness,
        faithfulness, gentleness and self-control, and has turned exclusively to
        power as the tool to achieve this all-important goal.
      </p>

      <p>
        This is quite a shift from the goal (as I understood it) in the early
        90s, to elect “godly” people of character who would pull the nation in a
        more “righteous” direction. For the True Believer, the cause is
        everything, so everything must be sacrificed for it. Including, I think,
        the very soul of the faith.
      </p>

      <p>
        In the past few years, a larger cause has seized the imagination of many
        evangelicals — Christian Nationalism, the desire to rule the United
        States by the laws of the Bible (especially the Old Testament). I don’t
        know how strong this movement will become, but it certainly represents
        the fevered dreams of the True Believers, and it reminds me that
        Christopher Hitchens used to say that when people start talking about
        perfecting society, the bodies start to pile up. True belief doesn’t
        leave room for nuance. Or dissenters.
      </p>

      <p>
        As I began to understand that truth lives in nuance, the world expanded
        for me. I could see, for example, that human motivations (including my
        own) are complex. People can do terrible things out of their own
        desperation or their misguided desire to do something good. People can
        do good things out of selfishness and the desire to gain advantages over
        others. Life is complicated and people are difficult to understand. None
        of this is exactly rocket science, but to an extent, my own True Belief
        had limited my ability to see and apply it.
      </p>

      <p>
        But whatever the benefits I gained, my appreciation of nuance seemed,
        more and more, to hinder me as a minister. Over the last decade, our
        culture, and the church along with it, has grown impatient with nuance.
        This is an age of the passionate intensity of True Belief.
      </p>

      <p>
        I mentioned in an earlier article that I first entered the ministry out
        of a youthful desire to be on the side of truth. The youthful part is
        gone, but the desire remains. Now I found the desire for truth leading
        me away from my spiritual home, my tribe, and my job.
      </p>

      <p>
        A little more on that
        <a href="/articles/abortion-homosexuality-and-nuance">here</a>.
      </p>
    </div>
</article>