---
title: Two Very Polite Mormons Shook My Faith
layout: layout.njk
---

    <div class="headline center article-headline">
      <h1>Two Very Polite Mormons Shook My Faith</h1>
      <h2 class="tagline">
        Not with their teachings, but with how they reminded me of me.
      </h2>
      <small>January 24, 2022</small>
      <hr />
    </div>
    <div class="article-wrapper">
      <p>
        <a href="/articles/becoming-more-myself">I wrote recently</a> about how a podcast
        episode shook loose some of my religious certainties and began a
        life-change for me. But the shaking actually started years before, in
        some conversations with Mormon missionaries.
      </p>

      <h2>Tuesdays with Mormons</h2>
      <p>
        In the early 1990s, two young Mormon missionaries knocked on our door —
        eighteen or nineteen years old, dress-pants, white shirt, tie, and that
        name tag identifying each of these kids as ‘Elder’. Most people turn
        them away. But my wife and I were eager to share our faith, so we
        welcomed these guys who would fit anyone’s description of ‘fine young
        man’. Thus began 8–10 weeks of exceedingly polite conversations about
        our faiths.
      </p>

      <p>
        I had been warned against talking to Mormon missionaries. People said
        they were well-trained, manipulative, and extremely knowledgeable.
        <strong
          >Such a warning betrays how much of my early church instruction was
          based on fear of outsiders. It also shows an inferiority complex about
          one’s own ability to engage with people who think differently</strong
        >.
      </p>

      <p>
        But such warnings were unnecessary. These young Elders were not
        especially knowledgeable about their faith, and had only a basic
        outsiders’ grasp of mine. Rather than being manipulative, they were
        unfailingly genial, polite, decent and just plain ordinary. Their
        messages lacked the threats of eternal torment often associated with
        missionary zeal.
      </p>

      <p>
        They had obviously received some training. They had a solid, if
        rudimentary, knowledge of their sacred texts. They also knew some basic
        sales techniques, such as how to make a pitch on the front doorstep, how
        to move the conversation along, and how to attempt to ‘close a sale’.
      </p>

      <p>
        These are the tools they brought with them into the mission field of our
        town, pushed forward by a firmly-held belief that this mission was,
        without doubt, a good thing to do. They were part of a culture back home
        of parents, grandparents, coaches, and church members, all of whom built
        into these youngsters the conviction that spending two years in
        small-town Southern America (at their own expense) knocking on doors,
        having these conversations…all of this was work that pleased God.
      </p>

      <p>
        None of their Mormon theology or history was even slightly convincing to
        me.
      </p>

      <p>
        In spite of their sincerity and decency, there was just no chance that
        their strange doctrines or unbelievable history of the Americas would
        ‘warm my heart’ (a phrase they often used). From the beginning of our
        association to the end, it was apparent to me that
        <strong
          >these young men of intelligence and good judgment had accepted
          fiction as fact because the most important people around them did the
          same</strong
        >.
      </p>

      <h2>Plausibility structures</h2>
      <p>
        Years after these discussions, I learned the sociological term “<a
          href="https://en.wikipedia.org/wiki/Plausibility_structure"
          target="_blank"
          >plausibility structure</a
        >”. Coined by Peter L. Berger, the term refers to all those parents,
        etc. I mentioned earlier, along with friends at school, and even
        characters in stories who share our understanding of reality. Our
        plausibility structures reaffirm the predominant beliefs of our culture.
        They <strong>make plausible</strong> those beliefs that seem strange and
        unfounded to outsiders. If you are born to Muslim parents in a Muslim
        country, chances are that you will be Muslim — not just outwardly, but
        in your attitudes and values. The same is true if you are born in a
        racist white town, or into a free-thinking family of intellectuals.
        Certainly it was true for these young men from Utah. And it was true for
        me too.
      </p>

      <p>
        I grew up on a farm in Ohio. There were lots of Christians around me,
        including the people most important to me. That made it not only
        possible for me to believe, but somewhat inevitable. Had I been a
        skeptic at age 11, or a Buddhist at 13, that would have been remarkable.
        <strong
          >But because of my plausibility structure, it never occurred to me to
          be a skeptic or a Buddhist — only to wonder why others couldn’t see
          what was so obvious to me</strong
        >. And like most Christians — most people of
        <strong>every</strong> type, for that matter — I attributed their lack
        of perception of the truth as I saw it to their own moral and spiritual
        flaws. This is perhaps the most <strong>human</strong> thing that we do.
      </p>

      <p>
        In a free and open society, we aren’t limited to our early plausibility
        structures. We read, travel, watch movies from around the world, go off
        to college, get stationed overseas, and meet international workers at
        home. We hear new ideas and sometimes accept them. It’s easier than ever
        to move beyond the viewpoint of your parents. Easier…but still, not
        easy.
      </p>

      <p>
        Had I grown up in Provo or Salt Lake City, and my parents were Mormons,
        and so was my basketball coach and my best friend, why wouldn’t I be a
        Mormon too? And if ever I doubted the historical underpinnings of the
        faith, I could just look around and see that people smarter and better
        than me believe it. That’s enough for many people.
      </p>

      <p>
        Much of what I describe here I learned over decades. During our Mormon
        conversations, I’d never heard of a ‘plausibility structure’. But I was
        starting to understand that, whatever the merits of my own faith, I
        didn’t accept it on the merits. Not at first, anyway. I accepted it
        because that’s what my ‘tribe’ accepted. What else can you do when you
        are seven? Or, to borrow
        <a
          href="https://seths.blog/2013/07/people-like-us-do-stuff-like-this/"
          target="_blank"
          >Seth Godin’s wonderfully simple words about marketing and culture</a
        >, I accepted my faith because
        <strong>“People like us believe things like this”</strong>.
      </p>

      <p>
        What about “making it my own?” Did I ever move past the faith inherited
        from my parents and claim it for myself? I did. I read the Bible, I
        talked to my preacher (a wonderful man and a great friend). I read some
        books, and I took it “seriously”, at least in my own estimation. Heck, I
        even decided to enter the ministry, which meant leaving home for Bible
        college in Tennessee.
      </p>

      <p>
        But in making my faith “my own”, I never looked (or not for long)
        outside of my plausibility structure. I didn’t study other faiths, or
        read what skeptics had to say. I didn’t read Nietzsche or Thomas Paine
        or Robert Ingersoll. I mostly studied what other Christians had written.
      </p>

      <p>
        Some of these Christians made a decent case for the faith, but always it
        was a
        <strong>case made from the inside, by believers for believers</strong>.
        One of the blurbs on a popular series of paperbacks by apologist C. S.
        Lewis says that
        <em
          >“Lewis is the ideal persuader for the half-convinced, for the good
          man who would like to be a Christian but finds his intellect getting
          in the way”</em
        >. Exactly.
      </p>

      <p>
        I came to Lewis and others much more than half-convinced. My intellect,
        such as it is, wasn’t really getting in the way, but I wanted to give it
        new tools. But I wasn’t looking to be convinced, only to have my
        conviction strengthened. I wasn’t asking “Is it true?” but rather “HOW
        is it true?” I looked at evidence that supported what I already
        believed, and mostly labeled anything else as ignorance, foolishness,
        even deception.
      </p>

      <p>
        There is a name for this practice of mine, this sifting of the evidence
        and keeping only what suits my preferences. More on that
        <a href="./3_i_wanted_to_believe.html">here</a>.
      </p>
    </div>