---
title: P2
layout: layout.njk
---

<h1>Welcome to P2</h1>
<p>You've probably never heard of them — they were big before they sold out. The menu changes daily based on what the
  forager brings in from the mountains. She grew her own heirloom tomatoes and felt personally betrayed by the sun.
  Craft beer is not just a beverage — it is a lifestyle rooted in intention. I prefer my oat milk locally oated, if that's
  not too much to ask. We refuse to use anything that cannot be traced to its origin story.
</p>

<script>
  setInterval(playAudio, 10000);
</script>
