:root {
  --accent: green;
}
body {
  max-width: 750px;
  margin: auto;
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji";
  font-size: 1.3em;
  line-height: 1.3;
  color: #333333;
}

a,
a:visited {
  color: var(--accent);
}
a.navlink {
  text-decoration: none;
}
.menu {
  display: flex !important;
  justify-content: end;
}
.menu svg {
  fill: var(--accent);
}
